/*Css Global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: white;
}

body{
    background-color: black;
    height: 100vh;
}

.principal{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-menu button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #262E80;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}
.btn-menu button:hover{
    box-shadow: 0px 0px 8px #262e80a6;
}
/* Css header */
header{
    padding: 40px 4%;
}

header > .principal{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    display: inline-block;
    color:#5c5c5c;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    color:white;
    transform: scale(1.05);
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/*Css txt-topo*/
section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1 {
    font-size: 42px;
    line-height: 40px;
    
}

.topo-site .txt-topo h1 > span {
    color: #262E80;
    font-size: 42px;
    font-weight: bolder;
}

.topo-site .txt-topo p {
    margin: 40px 0;
}

/*Css img*/
.topo-site .img-topo img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 40px;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}