/*Css Global*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: white;
}

body{
    background-color: black;
    height: 100vh;
}

.principal{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.btn-menu button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #262E80;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 0px 8px #262e80a6;
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #262E80;
}

/* Css header */
header{
    padding: 40px 4%;
}

header > .principal{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{
    display: inline-block;
    color:#5c5c5c;
    text-decoration: none;
    transition: .2s;
}

header a:hover{
    color:white;
    transform: scale(1.05);
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/*Css txt-topo*/
section.topo-site .flex {
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.topo-site h1 {
    font-size: 42px;
    line-height: 40px;
    
}

.topo-site .txt-topo h1 > span {
    color: #262E80;
    font-size: 42px;
    font-weight: bolder;
}

.topo-site .txt-topo p {
    margin: 40px 0;
}

/*Css img*/
.topo-site .img-topo img{
    margin-top: 20px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    border-radius: 40px;
}
/*Css conhecimento*/
section.conhecimentos {
    padding: 40px 4%;
}

section.conhecimentos .flex {
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.conhecimentos .conhecimentos-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 25px;
    color: white;
    padding: 40px;
    transition: .2s;
   
}

.conhecimentos .conhecimentos-box:hover {
    transform: scale(1.08);
    box-shadow: 0 0 8px #ffffff48;
}


/*Css sobre*/

section.sobre {
    padding: 100px 4%;
}

.sobre .img-sobre img {
    border-radius: 20px;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2 {
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 20px;
}

.sobre .txt-sobre span {
    display: block;
    color: #262E80;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 23px;
    background-color: #262E80;
    cursor: pointer;
    border: none;
    margin: 0 5px;
    transition: .2s;
}

/*Css projetos*/

section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.219);
}

section.projetos .flex {
    justify-content: space-around;
    margin-top: 80px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;   
    transition: .8s;
}

.overlay:hover {
    opacity: 1;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
